/***********************
Own styling begins here:
***********************/

/*********
Searchbar:
*********/
input[type="text"] {
    background: #444 !important;
    border: 0 none !important;
    font: bold 12px Arial,Helvetica,Sans-serif !important;
    color: transparent !important;
    width:45px !important;
    padding: 6px 15px 6px 30px !important;
    -webkit-border-radius: 10px !important;
    -moz-border-radius: 10px !important;
    border-radius: 10px !important;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3) !important;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset !important;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset !important;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset !important;
    margin:3px 10px;
}

input[type="text"]:focus {
    background:#fcfcfc !important;
    color: #6a6f75 !important;
    width: 180px !important;
    padding: 6px 15px 6px 15px !important;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.9) inset !important;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.9) inset !important;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.9) inset !important;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1) !important;
    margin:3px 12px !important;
    outline: none !important;
}

input[type="text"] {
    -webkit-transition: all 0.7s ease 0s !important;
    -moz-transition: all 0.7s ease 0s !important;
    -o-transition: all 0.7s ease 0s !important;
    transition: all 0.7s ease 0s !important;
}

#search-button {
    border: 0px;
    background-color: transparent;
    background-image: url('../img/search.png');
    background-position: center;
    background-repeat: no-repeat;
    width: 20px;
    height: 30px;
    margin-left: -45px;
    position: relative;
    top: 10px;
}

/*******
General:
*******/

body {
	font-family: 'Roboto', sans-serif;
}


ul.nav li.dropdown:hover > ul.dropdown-menu {
	display: block;
}

p {
	text-align: justify;
}

.postThumbnail {
	/* The size for thumbnail fallback images */
	max-width: 500px;
	max-height: 500px;
}

/******
Header:
******/

.navbar-brand img{
	width: 40px;
	height: auto;
	position: relative;
	top: -6px;
}



/**********
Navigation:
**********/



.navbar-inverse {
	background-color: #181818;
	/* height: 66px; */
}

.navbar-inverse {
	border-bottom: 6px solid #640a0a;
	padding-bottom: 6px;

}



nav a {
	font-family: 'Marcellus SC', serif;
	letter-spacing: 0.1em;
	color: #d7d7d7 !important;
	border-top: 3px solid transparent;
}
nav a.nav-link:hover {
	border-top: 3px solid #9a2016;
}




/*******
Sidebar:
*******/

/*******
Content:
*******/

main h2,h3,h4 {
	/* color: #eac220; */
	color:#ac9228;
	font-family: 'Marcellus SC', serif;
}


main h2 {
	color: #eac220;
	font-family: 'Marcellus SC', serif;


/******
Footer:
******/
footer {
	width: 100%;
}