/***********************
Own styling begins here:
***********************/






/*
Dummy values
Delete this section!
*/

footer {
	background-color: #aaaaaa;
}

.current-menu-item, .current-page-ancestor {
	/*height: 66px*/
	background-color: #000; /* Background colors for active links (WP classes) */
}

/*******
General:
*******/

body {
	font-family: 'Roboto', sans-serif;
}


ul.nav li.dropdown:hover > ul.dropdown-menu {
	display: block;
}

p {
	text-align: justify;
}

.postThumbnail {
	/* The size for thumbnail fallback images */
	max-width: 500px;
	max-height: 500px;
}

/******
Header:
******/

.navbar-brand img{
	width: 35px;
	height: 33px;
	position: relative;
	top: -6px;
}


/**********
Navigation:
**********/

.navbar-inverse {
	background-color: #181818;
	/* height: 66px; */
}
nav a {
	font-family: 'Marcellus SC', serif;
	letter-spacing: 0.1em;
}


/*******
Sidebar:
*******/

/*******
Content:
*******/

/******
Footer:
******/
footer {
	width: 100%;
}